@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');

body{
    margin: 0;
}

#navbar{
    transition: 2s opacity;
    opacity: 0;
}

nav{
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: rgb(89, 118, 213);
    width: 100%;
    text-align: center;
    font-family: 'Dosis';
    width: 100%;
}

nav a{
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    transition: 0.3s;
    width: 100%;
}

nav a:hover{
    transition: 0.3s;
    padding-left: 3rem;
    padding-right: 3rem;
    border-bottom: 10px white solid;
}

.selected-menu{
    border-bottom: 10px white solid;
    transition: 0.3s;
    width: 100%;
}

.menu-container{
    padding: 1.7rem;
}

.content{
    margin-top: 4rem;
    margin-bottom: 3rem;
    font-family: 'Dosis';
}

.main-content{
    margin-left: 20rem;
    margin-right: 20rem;
}

.newest-video{
    text-align: center;
    width: 100%;
    overflow: hidden;
    height: auto;
}

.newest-video h1{
    margin: 0;
    text-align: left;
    font-size: 3rem;
}

#header_newest_video{
    transition: 1s opacity;
    opacity: 0;
    display: flex;
    margin-bottom: 15px;
}

#header_newest_video img{
    margin-left: 10px;
    margin-top: auto;
    width: 50px;
    height: 50px;
}

.horizontal-content{
    margin-top: 10rem;
}

.horizontal-content h1{
    margin: 0;
    text-align: left;
    font-size: 3rem;
}

.horizontal-content img{
    width: 90px;
    height: 160px;
    border: 2px black solid;
}

#iframes{
    transition: 1s opacity;
    transition: 0.3s;
    opacity: 0;
    width: 100vh;
    height: 56vh;
}

#iframes:hover{
    transform: scale(1.01);
    transition: 0.3s;
}

footer{
    background-color: black;
    bottom: 0;
    width: 100%;
}

footer p{
    color: white;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
}

.footer-container img{
    margin: auto;
    margin-left: 5px;
    width: 1.5rem;
    height: 1.5rem;
}

.footer-flex{
    display: flex;
    justify-items: center;
    justify-content: center;
}